.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

.logo {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1.5rem;
}

.b {
  background-color: black;
  color: white;
  padding: 1px 9px;
  font-weight: 800;
  font-size: 20px;
}

.right-header {
  display: flex;
  position: relative;
  align-items: center;
  gap: .2rem;
  margin-right: 2rem;
  padding: 6px 14px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: "BBC Reith Sans", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.right-header:hover {
  background-color: #333;
  color: white;
} 


.right-header {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1001;
  width: 100%;
}

.dropdown a {
  display: flex;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  align-items: center;
}

.dropdown a:hover {
  background-color: gray;
}

body {
  padding-top: 60px;
}
