:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bbc{
  padding: 4rem 15rem;

}
.section-2:not(h3) {
  display: flex;
  gap: 1rem;
}
.section-1-title{
  border-top: 2px solid #1a1919;
  margin-top: .3rem;
}

.section-2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.more-news{
display: flex;
flex-direction: row;
align-items: center;
gap: .3rem  ;
cursor: pointer;
}

hr{
  border: 1px solid #1a1919;
  margin-top: 2.5rem;
}